In [4]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('./Instagram_Analytics.csv')
df.head()

,post_id,upload_date,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category
0,IG0000001,25:23.0,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.97,Technology
1,IG0000002,25:23.0,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.59,Fitness
2,IG0000003,25:23.0,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.29,Beauty
3,IG0000004,25:23.0,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.32,Music
4,IG0000005,25:23.0,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.52,Technology

### General info Using 'df.info()'

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   post_id           29999 non-null  object
 1   upload_date       29999 non-null  object
 2   media_type        29999 non-null  object
 3   likes             29999 non-null  int64
 4   comments          29999 non-null  int64
 5   shares            29999 non-null  int64
 6   saves             29999 non-null  int64
 7   reach             29999 non-null  int64
 8   impressions       29999 non-null  int64
 9   caption_length    29999 non-null  int64
 10  hashtags_count    29999 non-null  int64
 11  followers_gained  29999 non-null  int64
 12  traffic_source    29999 non-null  object
 13  engagement_rate   29999 non-null  float64
 14  content_category  29999 non-null  object
dtypes: float64(1), int64(9), object(5)
memory usage: 3.4+ MB

In [7]:
df.isnull().sum()

post_id             0
upload_date         0
media_type          0
likes               0
comments            0
shares              0
saves               0
reach               0
impressions         0
caption_length      0
hashtags_count      0
followers_gained    0
traffic_source      0
engagement_rate     0
content_category    0
dtype: int64

In [8]:
df.describe()

,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,engagement_rate
count,29999.000000,29999.000000,29999.000000,29999.000000,2.999900e+04,2.999900e+04,29999.000000,29999.000000,29999.000000,29999.000000
mean,99912.661789,5017.781426,2502.912564,7490.124637,9.965616e+05,1.246669e+06,1103.110904,14.887430,502.152805,14.419276
std,57905.967401,2888.404881,1448.320395,4352.546949,5.777906e+05,5.970924e+05,635.991308,9.005811,290.364038,29.660210
min,7.000000,0.000000,0.000000,0.000000,1.650000e+02,5.107000e+03,0.000000,0.000000,0.000000,0.120000
25%,49755.000000,2530.500000,1246.000000,3690.500000,4.936810e+05,7.469585e+05,555.000000,7.000000,251.000000,5.180000
50%,99580.000000,5042.000000,2498.000000,7483.000000,9.921810e+05,1.241026e+06,1100.000000,15.000000,501.000000,9.190000
75%,150225.000000,7518.000000,3768.000000,11294.000000,1.494798e+06,1.749264e+06,1656.000000,23.000000,755.000000,15.670000
max,200000.000000,10000.000000,5000.000000,15000.000000,1.999865e+06,2.497940e+06,2200.000000,30.000000,1000.000000,3259.820000

In [9]:
df['upload_date'].nunique()

1

In [10]:
df.duplicated().sum()

np.int64(0)

In [12]:
# cheking if index col is unique or not 
df['post_id'].duplicated().sum()

np.int64(0)

### Learning from Above Code :
1. R ~ 30k , C- 15
2. No Col have Null Entry
3. upload_date is useless , as all post were uploaded at same time
4. No outliers
5. Reach -> Audience Size
6. Impresion -> No. of times media was consumed (same user can genrate more than 1 impresion)